

/* STYLES */
#HeroImageModelHeader h5 {
    font-size: 1.2rem;
    font-weight: 400;

}

#HeroImageModelHeader h3 {
    font-size: 2rem;
    font-weight: 500;
}
.heroImageDescriptionCTA {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
}

.heroImageBtnCta {
    min-width: 100%;
    padding: .5rem 0;
    border-width: 4px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    transition: all .3s ease-in-out;

}
.heroImageBtnCta--primary{
    border: 3px black solid;
    background-color: transparent;
    border-color: #000;
}
.heroImageBtnCta--primary:hover{
    background-color: #000;
    color: #FFF;
}
.heroImageBtnCta--secondary{
    border-color: transparent;
    color: #000;
    background-color: var(--heroOne-secondaryBtnBg);
    color: (--color-secondary);
}
.heroImageBtnCta--secondary:hover{
    background-color: var(--modelBtnFont-secondary);
}
#HeroImageModelCTAs {
    min-height: fit-content;
    margin-bottom: 1rem;
}
#HeroImageBUTTON:nth-child(1){
    display: none;
}



/* ORIGINAL / SML SCREEN */
#HeroImageModel--One{
    position: relative;
}
#HeroImageModelContent{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}


/* IMAGES CAROUSEL */
#HeroImages{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
}
#HeroImageIMG {
    max-width: 100%;
}

.heroImageIMGDIV {
    transition: all .3s ease-in-out;
    animation: heroImageIMGDissapear 1s forwards;
}
.heroImageIMGDIV:nth-child(2){
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes heroImageIMGDissapear {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

.heroImageIMGDIV.active {
    animation: heroImageIMGAppear 1s forwards;
}
@keyframes heroImageIMGAppear {
    from{
        opacity: 0;
    }to {
        opacity: 1;
    }
}







/* IMG TITLES */
#HeroImageContent{
    padding: 1rem;
    position: relative;
}

#pillsHeroImagesContent{
    padding: 1rem 0;
    display: flex;
}

#TitlesHeroImagesContent {
}

#HeroImageContentTitle{
    display: none;
}
#HeroImageContentTitle.active {
    display: block;
}


@media (min-width: 40rem) and (max-width: 60rem){
    /*CONTENT */
    #HeroImageModelContent{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
    }
    /*HEADER*/
    #HeroImageModelHeader{
        grid-column: 1 / span 5;
        grid-row: 1;

    }
    /*DESCRIPTION*/
    #HeroImageModelDescription{
        grid-column: 1 / span 10;
        grid-row: 2 / span 2;
    }
    /* CTAs */
    #HeroImageModelCTAs {
        grid-column: 1 / span 5;
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        min-width: fit-content;
        grid-row: 3;
    }
    #HeroImageBUTTON:nth-child(1){
        display: block;        
        width: 100%;
    }
    #HeroImageBUTTON:nth-child(2){
        display: block;
        width: 100%;
    }

    
}



/* HEROCONTENT  GRID DISPLAY BIG SCREEN*/
@media(min-width: 60rem){
    #HeroImageModel--One{
    }
    #HeroImageModelContent{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    #HeroImageModelHeader{
        grid-column: 2 / span 3;
        grid-row: 2;
    }
    #HeroImageModelDescription{
        grid-column: 5 / span 3;
        grid-row: 2 / span 2;
    
    }
    #HeroImageModelCTAs{
        grid-row: 3;
        grid-column: 2 / span 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        opacity: 0;
    }
    #HeroImageModelCTAs.active{
        animation: heroImageModelUp 1s forwards;
    }
    @keyframes heroImageModelUp {
        from{
            transform: translateY(50%);
            opacity: 0;
        }to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    #HeroImageBUTTON:nth-child(1){
    display: block;
    }
    /* IMGS */
    #HeroImages {
        max-width: 80%;
        margin: 2rem auto;
    }
    #HeroImageIMG{
        border-radius: 20px;
    }
    #HeroImageContent{
        max-width: 50%;
        margin: 2rem auto;
    }

}

@media(min-width:70rem){
    #HeroImageModelCTAs{
        grid-row: 3;
        grid-column: 2 / span 2;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;
        opacity: 0;
    }
}